/*THE SIGNUP STYLE SHEET*/

header{
  background-color: rgba(0,0,0,0.9);
}

main a:visited{
  color: purple;
}

header> ul> li {
  font-size: 20px;
}

header>ul>button{
  background-color: inherit;
  border:none;
  float: right;
  margin-right: 10px;
  margin-top: 10px;
  padding-top: 5px;
}

header>ul>button:hover{
  background-color: grey;
}

button#norm{
  font-size: 20px;
  color: white;
}

button#glyph{
  margin-right: 2px;
  font-size: 20px;
  color: white;
}

main{

}

#signin{
  margin: 0px;
  padding: 0px;
  background-color: lightgrey;
}

.form-container{
  height: 533px;
  margin: auto;
  width: 100%;
  overflow-y: scroll;
  padding-top: 20px;
  margin-top: -18px;
}
.forms{
  border-radius: 30px;
  background-color: white;
  width: 580px;
  margin: auto;
  margin-top: 10px;
  padding: 15px;
  box-shadow: 0 5px 10px 0 rgba(0,0,0, 0.3), 0 7px 21px 0 rgba(0,0,0, 0.20);
}

.forms>h2{
  text-align: center;
  font-size: 30px;
  padding-top: 10px;
}

form.signup{
  margin-top: 40px;
}

.input-cnt{
  display: flex;
  margin-bottom: 15px;
  margin-left: 10px;
}
.input-cnt:first-child{
  margin-top: 10px;
}
.input-cnt:last-child{
  margin-bottom: 0px;
}
.input-cnt > i{
  min-width: 180px;
  padding: 10px;
  text-align: center;
  background-color: lightgrey;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  color: #0076ff;
}

.input-cnt>input{
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  width: 100%;
}

.input-cnt>input[type="text"]{
  width: 100%;
}

label{
  display: inline;
  margin-left: 15px;
  padding: 10px;
  padding-top: 8px;
  height: 35px;
  border: 1px solid grey;
  border-radius: 10px;
  background-color: lightgrey;
}

input[type="radio"]{
  display: none;
}
input[type="radio"]:checked + label {
  background: grey;
}
input[type="radio"]:checked >label>span{
  background: red;
}
input[type="submit"]{
  width: 100px;
  border: none;
  border-radius: 5px;
  box-shadow: 3px 3px 5px;
  height: 40px;
  margin-left: 230px;
}

.forms .glyphicon{
  color: green;
}

.signup .glyphicon{
  display: none;
}
.signup .glyphicon-alert{
  color: red;

}

.alert{

  position: inherit;

}

.glyphicon{
  position: inherit;
}

select{
  width: 100%;
  padding: 5px;
}

select option{
  padding: 0px;
  width: 100%;
  margin-left: 100px;
}

#info{
  display: block;
}

#danger{
  display: none;
}
