@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import "tailwindcss";

:root{
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
}

header nav a{
    font-size: 1.125rem;
    padding: 3px 0px;
    transition: all ease-in-out .2s;
}

footer nav a {
    font-size: 0.95rem;
    padding: 3px 0px;
    transition: all ease-in-out .2s;
}

form input{
    padding: 10px;
    border-radius: 10px;
    outline: none;
}

input[type="radio"]:checked ~ div{
    display: flex;
    max-height: fit-content;
}

@theme {
    --animate-fadeIn: fadeIn .5s ease-in-out;
    --animate-expandDown: expandDown .3s ease-in-out;
    
    @keyframes fadeIn{
        0%{
            opacity: 0;
        }
        100%{
            opacity: 1;
        }
    }

    @keyframes expandDown {
        0%{
            max-height: 0%
        }
        20%{
            max-height: 20%
        }
        50%{
            max-height: 50%
        }
        100%{
            max-height:fit-content
        }
    }
}

@layer components{
    .section-heading::after{
        content: '';
        display: block;
        width: 60px;
        height: 4px;
        background: black;
        margin: 10px auto;
    }
    .testimonial::-webkit-scrollbar{
        display: none;
    }
}

