@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import "tailwindcss";

:root{
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
}

header nav a{
    font-size: 1.125rem;
    padding: 3px 0px;
    transition: all ease-in-out .2s;
}

footer nav a {
    font-size: 0.95rem;
    padding: 3px 0px;
    transition: all ease-in-out .2s;
}

form input{
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    outline: none;
    border: white;
}

@layer components{
    .section-heading::after{
        content: '';
        display: block;
        width: 60px;
        height: 4px;
        background: black;
        margin: 10px auto;
    }
    .testimonial::-webkit-scrollbar{
        display: none;
    }
}

